

::-webkit-scrollbar {
    width: 0px;
  }
  

  /* ::-webkit-scrollbar-track {
    background: #f1f1f1a9; 
  }
   

  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.452); 
  }
  
 
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.493); 
  } */